# Created by .ignore support plugin (hsz.mobi)
.idea
.settings
target
.classpath
.project
.springBeans
mbg.xml
ssm-crud.iml
src/main/java/com/atguigu/crud/utils/
src/main/webapp/WEB-INF/lib/
src/test/
